.Message {
  display: block;
  background-color: #3f3f3f;
  margin: 10px auto;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 5px;
  clear: both;
}
.Message.me {
  color: white;
  float: right;
  background-color: #328ec4;
}

@media (prefers-color-scheme: light) {
  .Message {
    background-color: #f7f7f7;
  }
}